.event-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.event-card h2 {
  margin: 0;
  font-size: 2rem;
}

.meta,
.location {
  font-size: 1.15rem;
  color: #555;
}

.description {
  color: #0f0f0f;
  font-size: 1.3rem;
}

.buttons {
  display: flex;
  justify-content: end;
}

button.edit,
button.delete,
button.more-info {
  padding: 6px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50%;
  min-width: 4rem;
}

button.more-info {
  background-color: #06cd38;
  color: white;
}

button.edit {
  background-color: #3b82f6;
  color: white;
}

button.more-info:hover {
  background-color: #06ae30;
}

button.edit:hover {
  background-color: #266aaa;
}
button.delete:hover {
  background-color: #bc2f38;
}

button.delete {
  background-color: #ef4444;
  color: white;
}

.event-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

aside {
  width: 50%;
}

article {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 100%;
  display: flex;
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.people {
  width: 50%;
  color: #555;
}

.people-amount {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}

.people-info {
  margin-bottom: 5px;
}

.buttons {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.link-on-button {
  height: 100%;
  display: flex;
  align-items: end;
  text-decoration: none;
}
